<div id="datatable">
	<table id="dt" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Latitude</th>
            <th>Longtitude.</th>
        </tr>
    </thead>
 
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Latitude</th>
            <th>Longtitude.</th>
        </tr>
    </tfoot>
    </table>
</div>

<!-- DataTables -->
<script type="text/javascript" charset="UTF-8" src="<?php echo PUBLIC_PATH?>libs/DataTables-1.10.5/media/js/jquery.dataTables.min.js"></script>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH?>libs/DataTables-1.10.5/media/css/jquery.dataTables.css">
<!-- custom css -->
<link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH?>css/datatable/datatable.css" />
<!-- DataTables custom script -->
<script type="text/javascript" charset="UTF-8" src="<?php echo PUBLIC_PATH?>javascript/datatable/index.js"></script>
